@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Oswald/Oswaldbold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Oswald/Oswaldbold.woff") format("woff"),
  url("../fonts/Oswald/Oswaldbold.ttf") format("truetype"),
  url("../fonts/Oswald/Oswaldbold.svg") format('svg');
}
@font-face {
  font-family: "Fjalla One";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Fjalla_One/Fjallaone.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Fjalla_One/Fjallaone.woff") format("woff"),
  url("../fonts/Fjalla_One/Fjallaone.ttf") format("truetype");
}
@font-face {
  font-family: "Merienda One";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Merienda_One/MeriendaOne-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Merienda_One/MeriendaOne-Regular.woff") format("woff"),
  url("../fonts/Merienda_One/MeriendaOne-Regular.ttf") format("truetype"),
  url("../fonts/Merienda_One/MeriendaOne-Regular.svg#ProximaNovaExtraBold") format('svg');
}

@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Sacramento/Sacramento-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Sacramento/Sacramento-Regular.woff") format("woff"),
  url("../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype"),
  url("../fonts/Sacramento/Sacramento-Regular.svg") format('svg');
}