@font-face {
    font-family: 'Fjalla One';
    src: local('Fjalla One'), local('FjallaOne-Regular'), url('Fjallaone.woff2') format('woff2'), url('Fjallaone.woff') format('woff'), url('Fjallaone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
